body{
    margin: 0; 
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    
}
.half-width{
    width: 50%;
    padding-left: 2%;
    margin-bottom: 0;
}
.sun-flower-color{
    color: #FFAD5A;
}

.header{
    margin-bottom: 100px;
}
.flexible-inside{
    display: flex;
    padding: 0;
    padding-top: 110px;
}
.side-border{
    width: 4px;
    height: 125px;
    background-color: #ff5959;
    border-radius: 5px;
    margin-right: 13px;
    margin-top: 74px;
}

.header h1{
    font-size: 60px;
    padding-left: 15px;
    padding-top: 0;
    font-family: 'Yeseva One', cursive;
    margin-bottom: 20px;
}
.header p{
   font-size: 18px;
   margin-bottom: 45px;
}
.link-btn{
    text-decoration: none;
    background-color: #FF5959;
    padding: 14px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700; 
}
.header-scroll-info{
    margin-top: 45px;
}
.header img{
    width: 70%;
    margin-left: 50px;
}

.missions{
    margin-bottom: 50px;
    padding-left: 2%;
}
.missions-title{
    text-align: center;
    margin-bottom: 10px;
}
.missions-title h1{
    font-size: 48px;
    font-weight: 700;
}
.m-content-des p{
    font-size: 18px;
}
.m-content-style{
    width: 33%;
    padding: 30px;
    border-radius: 5%;
    margin-right: 30px;
}
.m-content-img img{
    width: 30%;
}
.m-first-content-bgcolor{
    background-color: rgba(131, 235, 217, 0.1);
}
.m-second-content-bgcolor{
    background-color: rgba(255, 89, 89, 0.1);
}
.m-third-content-bgcolor{
    background-color: rgba(255,244,214, 0.4);
}

.develop{
    padding-left: 5%;
    margin-top: 120px;
}
.develop-left-section{
    width: 40%;
    margin-right: 70px;
}
.develop-left-section img{
    width: 100%;
    height: 75%;
}
.develop-right-section{
    width: 60%;
}
.develop-right-section h1{
    font-size: 36px;
    margin-bottom: 20px;
}
.develop-right-section p{
    margin-bottom: 40px;
    font-size: 18px;
}

.global{
    padding-left: 5%;
}
.global-left-section{
    width: 60%;
    margin-right: 100px;
}
.global-right-section{
    width: 40%;
}
.global-right-section img{
    width: 100%;
    height: 75%;
}
.global-left-section h1{
    font-size: 36px;
    margin-bottom: 20px;
}
.global-left-section p{
    margin-bottom: 40px;
    font-size: 18px;
}

.build{
    margin-bottom: 150px;
    padding-left: 2%;
}
.build-title{
    text-align: center;
    margin-bottom: 10px;
}
.build-title h1{
    font-size: 56px;
    font-weight: 700;
}
.build-left-section{
    width: 50%;
}
.build-left-section h1{
    font-size: 36px;
}
.build-left-section p{
    font-size: 18px;
}
.build-right-section{
    width: 50%;
}
.build-right-section-content{
    margin-left: 50px;
    text-align: center;
    margin-top: 10px;
}
.build-right-section-content input{
    height: 35px;
}
.build-right-section-content input,textarea{
    width: 80%;
}
.build-right-section a{
    margin-left: 120px;
}

footer{
    text-align: center;
    background-color: black;
    padding: 20px 0;
    color: #fff;
}
.fn-color{
    color: #FF5959;
}
footer h1{
   font-family: 'Lobster', cursive;
   font-size: 44px;
}
footer p{
    font-family: 'Manrope', sans-serif;
 }
