body{
    margin: 0; 
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.sun-flower-color{
    color: #FFAD5A;
}

.header-title{
    margin-bottom: 40px;
    border-left: 5px solid #FF5959;
}

.header h1{
    font-size: 60px;
    padding-left: 15px;
    padding-top: 0;
    font-family: 'Yeseva One', cursive;
}
.header p{
   font-size: 20px;
   margin-bottom: 40px;
}
.link-btn{
    text-decoration: none;
    background-color: #FF5959;
    padding: 14px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700; 
}
.header-scroll-info{
    margin-top: 40px;
}
.header img{
    width: 80%;
    height: 80%;
    margin-left: 50px;
}

.missions{
    margin-bottom: 50px;
    padding-left: 2%;
}
.missions-title{
    text-align: center;
    margin-bottom: 10px;
}
.missions-title h1{
    font-size: 48px;
    font-weight: 700;
}
.m-first-content-bgcolor{
    background-color: rgba(131, 235, 217, 0.1);
}
.m-second-content-bgcolor{
    background-color: rgba(255, 89, 89, 0.1);
}
.m-third-content-bgcolor{
    background-color: rgba(255,244,214, 0.4);
}
.m-content-style{
    width: 33%;
    padding: 30px;
    border-radius: 5%;
    margin-right: 30px;
}
.m-content-img img{
    width: 30%;
}
